// #D80505 or rgb(216, 5, 5) the red I use
$primary: rgb(216, 5, 5);
$body-bg: black;
$body-color: white;

@import '~bootstrap/scss/bootstrap.scss';

.card {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.Button .btn-danger {
  background-color: rgb(216, 5, 5) !important;
}
